[submodule "coach-lau-api"]
	path = coach-lau-api
	url = git@github.com:AndrewCash/coach-lau-api.git
[submodule "coach-lau-client"]
	path = coach-lau-client
	url = git@github.com:AndrewCash/coach-lau-client.git
